* {margin:0; padding:0; box-sizing:border-box;}

body { 
    background: url('quadro negro.jpg') no-repeat center/cover;
    display:flex; flex-direction:column; align-items:center; justify-content:center;
    min-height:100vh; font-weight:bold; font-size:larger;
    font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
}

header {text-align:center; margin-bottom:20px;}
header h1 {
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    font-weight:bolder; color:white; background:rgba(0, 0, 0, 0.877); border-radius:8px; padding:10px 20px;
}

section { 
    font-weight:bolder; background:rgba(255,255,255,0.95); padding:35px; border-radius:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.2); width:600px; max-width:90%;
    display:flex; flex-direction:column; gap:15px; align-items:flex-start; text-align:left;
}

input[type="number"], input[type="button"], select { font-size:21px; padding:1rem; border-radius:5px; border:1px solid #ccc; width:31%; max-width:200px; }
input[type="button"] { height:60px; background:rgba(0,0,0,0.877); color:white; font-size:larger; cursor:pointer; transition:0.1s; }
input[type="button"]:hover { background:rgba(0,0,0,0.65); }

select#flista { width:31%; height:150px; border-radius:5px; border:1px solid #ccc; padding:0.5rem; font-size:1rem; }

#res { font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif; font-weight:normal; font-size:large; margin-top:10px; text-align:left; }

footer { color:white; font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif; font-size:larger; font-weight:bolder; margin-top:20px; }

#val { background:white; list-style:circle; color:rgba(0,0,0,0.877); max-height:200px; overflow-y:auto; border:1px solid rgb(0,183,255); border-radius:8px; padding:10px; width:100%; }
#val li { background:white; margin:5px 0; padding:6px; border-radius:6px; width:100%; }
